<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>NetCap Viasat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <meta http-equiv="Refresh" th:content="|3; url=@{/}|" />
</head>

<body style="padding-top: 65px; padding-bottom: 50px">

<div th:replace="~{header :: header}"></div>

<div class="container">
    <div class="row mt-0 mb-0">
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" th:if="${alertConsumption != null}">
            <span th:text="${alertConsumption}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="row mt-0">
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" th:if="${alertUsage != null}">
            <span th:text="${alertUsage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="container">
    <div th:replace="~{dashboard :: dashboard}"></div>
</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>
