<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>NetCap Viasat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([[${chartData}]]);

            var options = {
                chartArea: {
                    height: '60%',
                    width: '70%',
                    top: 15,
                    bottom: 70
                },
                height: '100%',
                width: '100%',
                vAxis: {
                    title: "Consumption (GB)"
                },
                hAxis: {
                    title: "Month"
                },
                isStacked: true,
                interpolateNulls: true
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body style="padding-top: 65px; padding-bottom: 50px">

<div th:replace="~{header :: header}"></div>

<div class="container">
    <div class = "page-header text-center mb-4">
        <h4>Reports</h4>
    </div>

    <div class="row">
        <div class="col-sm-3 mb-4">
            <form th:action="@{/reports/search}" method="post" th:object="${reportDateRange}">
                <div class="card border-secondary">
                    <div class="card-body text-secondary">
                        <div class="form-group">
                            <label for="sd">Start date</label>
                            <input id="sd" class="form-control" type="month" th:field="*{startDate}" />
                        </div>
                        <div class="form-group mt-2">
                            <label for="ed">End date</label>
                            <input id="ed" class="form-control" type="month" th:field="*{endDate}"/>
                        </div>
                        <div class="d-grid gap-2 col-12 mt-2">
                            <button type="submit" class="btn btn-outline-primary mt-2">Search</button>
                        </div>
                    </div>
                </div>
            </form>

            <div th:if="${chartData != null and not #lists.isEmpty(chartData)}">
                <a class="btn btn-block btn-secondary mt-4 mb-4" th:href="@{|/reports/download|}" th:target="_blank"><i class="bi bi-download"></i> Download PDF</a>
            </div>
        </div>
        <div class="col-sm-9 vh-100 d-inline-block">
            <div class="text-center" th:if="${#lists.isEmpty(chartData)}">
                <p>No traffic available for this period.</p>
            </div>
            <div id="chart_div" class="h-75" th:if="${not #lists.isEmpty(chartData)}"></div>
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>
